.label {
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    font-size: 1em;
  }

.barchart {
      position:relative;    
      width: 500;
      height: 500;
}

.bar {
  position:relative; 
  float:left;
  vertical-align:middle;
  display:none;
}

.xlabel {
    color:"black";
    text-align:center;
    float:left;
    font-size: 2em;

}
.tick {
  font-size: 20px;
}
